wp-content/ai1wm-backups/
wp-content/themes/shapely/functions.php_TR_06_07_2017
wp-content/themes/shapely/inc/short_code.php_MT_07_06_2017
wp-content/themes/shapely/inc/short_code.php_bk_05_07_2017
wp-content/themes/shapely/inc/short_code_Tr_06_7_2017.txt
wp-content/themes/shapely/style.css_MT_07_06_17
wp-content/themes/shapely/style.css_TR_06_07_2017
wp-content/themes/shapely/style.css_bk_05_07_17

wp-content/themes/shapely/inc/short_code.php_bk_10_07_2017
wp-content/themes/shapely/inc/short_code.php_bk_10_07_2017_2
wp-content/themes/shapely/style.css_2017_07_10

wp-content/backupwordpress-*
wp-content/updraft/
wp-content/wflogs/
wp-content/plugins/aceide/backups
wp-content/cache/
.DS_Store

wp-content/uploads/backupbuddy_backups/
wp-content/uploads/backupbuddy_temp/
wp-content/uploads/pb_backupbuddy/
