.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.859863;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.690918;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc1{color:rgb(0,0,0);}
.fc0{color:rgb(255,255,255);}
.fs0{font-size:44.160000px;}
.y2{bottom:3.474700px;}
.y5{bottom:3.474800px;}
.y0{bottom:53.500000px;}
.ya{bottom:54.250000px;}
.y9{bottom:68.720600px;}
.y8{bottom:83.191200px;}
.y7{bottom:97.661800px;}
.y6{bottom:112.132400px;}
.y4{bottom:126.602900px;}
.y3{bottom:141.073500px;}
.y1{bottom:155.544100px;}
.h5{height:13.970500px;}
.h2{height:13.970600px;}
.h4{height:30.015000px;}
.h3{height:30.122812px;}
.h1{height:116.500000px;}
.h0{height:238.235300px;}
.w5{width:22.075700px;}
.w4{width:22.075800px;}
.w3{width:23.688300px;}
.w9{width:27.719800px;}
.w8{width:30.138600px;}
.wa{width:35.782400px;}
.wc{width:40.620100px;}
.wb{width:44.651600px;}
.w6{width:47.070300px;}
.w7{width:47.070400px;}
.w2{width:74.483800px;}
.w1{width:881.500000px;}
.w0{width:981.254600px;}
.x1{left:1.825000px;}
.xd{left:4.126200px;}
.xf{left:5.442400px;}
.x3{left:9.046400px;}
.x20{left:12.334500px;}
.x1d{left:17.939700px;}
.x0{left:50.000000px;}
.x21{left:125.633800px;}
.x2{left:166.753900px;}
.x4{left:190.942200px;}
.x5{left:213.518000px;}
.x6{left:236.093700px;}
.x7{left:258.669500px;}
.x8{left:281.245300px;}
.x9{left:303.821000px;}
.xa{left:326.396800px;}
.xb{left:348.972500px;}
.xc{left:371.548300px;}
.xe{left:419.118700px;}
.x10{left:441.694400px;}
.x11{left:464.270200px;}
.x12{left:486.845900px;}
.x13{left:509.421700px;}
.x14{left:531.997400px;}
.x15{left:554.573200px;}
.x16{left:577.149000px;}
.x17{left:599.724700px;}
.x18{left:622.300500px;}
.x19{left:669.870800px;}
.x1e{left:752.111100px;}
.x1f{left:797.262600px;}
.x1a{left:838.382700px;}
.x1b{left:866.602500px;}
.x1c{left:902.884900px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs0{font-size:58.880000pt;}
.y2{bottom:4.632933pt;}
.y5{bottom:4.633067pt;}
.y0{bottom:71.333333pt;}
.ya{bottom:72.333333pt;}
.y9{bottom:91.627467pt;}
.y8{bottom:110.921600pt;}
.y7{bottom:130.215733pt;}
.y6{bottom:149.509867pt;}
.y4{bottom:168.803867pt;}
.y3{bottom:188.098000pt;}
.y1{bottom:207.392133pt;}
.h5{height:18.627333pt;}
.h2{height:18.627467pt;}
.h4{height:40.020000pt;}
.h3{height:40.163750pt;}
.h1{height:155.333333pt;}
.h0{height:317.647067pt;}
.w5{width:29.434267pt;}
.w4{width:29.434400pt;}
.w3{width:31.584400pt;}
.w9{width:36.959733pt;}
.w8{width:40.184800pt;}
.wa{width:47.709867pt;}
.wc{width:54.160133pt;}
.wb{width:59.535467pt;}
.w6{width:62.760400pt;}
.w7{width:62.760533pt;}
.w2{width:99.311733pt;}
.w1{width:1175.333333pt;}
.w0{width:1308.339467pt;}
.x1{left:2.433333pt;}
.xd{left:5.501600pt;}
.xf{left:7.256533pt;}
.x3{left:12.061867pt;}
.x20{left:16.446000pt;}
.x1d{left:23.919600pt;}
.x0{left:66.666667pt;}
.x21{left:167.511733pt;}
.x2{left:222.338533pt;}
.x4{left:254.589600pt;}
.x5{left:284.690667pt;}
.x6{left:314.791600pt;}
.x7{left:344.892667pt;}
.x8{left:374.993733pt;}
.x9{left:405.094667pt;}
.xa{left:435.195733pt;}
.xb{left:465.296667pt;}
.xc{left:495.397733pt;}
.xe{left:558.824933pt;}
.x10{left:588.925867pt;}
.x11{left:619.026933pt;}
.x12{left:649.127867pt;}
.x13{left:679.228933pt;}
.x14{left:709.329867pt;}
.x15{left:739.430933pt;}
.x16{left:769.532000pt;}
.x17{left:799.632933pt;}
.x18{left:829.734000pt;}
.x19{left:893.161067pt;}
.x1e{left:1002.814800pt;}
.x1f{left:1063.016800pt;}
.x1a{left:1117.843600pt;}
.x1b{left:1155.470000pt;}
.x1c{left:1203.846533pt;}
}
